* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.padding-setter {
  padding: 45px 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header {
  background: url("../images/background-img.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
}
.header-padding{
  width:100%;
}
nav {
  display:flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  position:sticky;
  top:0;
}
nav li {
  padding: 0 12px;
}
nav li i {
  padding-left: 2px;
}
nav ul {
  display: flex;
  width: 40%;
  list-style-type:none;
}
nav a{
  color:white;
  text-decoration:none;
}
nav h1 i{
 display:none;
}
.dropdown-menu{
  flex-direction:column;
  background-color:white;
  color:black;
  width:150px;
  padding:8px 5px;
  margin-top:20px;
  display:none;
}
.dropdown-1 ul li{
  width:120px;
  margin:0 auto;
  padding:5px 10px;
}
.dropdown-1-heading:hover ul{
  display:block;
}
.dropdown-1 ul i{
  text-align:right;
}
h1 {
  width: 30%;
}
.header-text {
  width: 60%;
  margin: 0 auto;
  margin-top: 55px;
  padding: 20px 10px;
  text-align: center;
}
.header-text h2 {
  margin: 15px 0;
  font-size: 22px;
}
@media  screen and (max-width:500px){
  nav{
   flex-direction:column;
   position:static;
   margin:0;
   width:100%;
  }
  body{
    width:100%;
  }
  nav ul{
    flex-direction:column;
    text-align:center;
    order:2;
    width:100%;
  }
  nav ul li{
    padding:5px 2px;
  }
   nav .nav-buttons{
     display:flex;
     flex-direction:column;
     order:3;
  }
  header{
    width:100%;
    background:none;
    height:60vh;
  }
  .header-padding{
    background: url("../images/background-img.jpg") no-repeat center center fixed;
  }
  .header-padding::after{
    content:"";
    clear:both;
    display:table;
  }
  .header-text{
    margin:0;
  }
  .header-text img{
    width:100%;
  }
  nav h1{
    order:1;
    color:black;
    margin:0;
    width:100%;
    position:relative;
  }
  nav h1 i{
     position:absolute;
     right:0;
  }
  .nav-buttons{
    width:100%;
    text-align:center;
  }
  .nav-buttons button{
    width:100%;
    margin:5px 0;
  }
}
.btn-type-1 {
  padding: 7px 20px;
  background-color: transparent;
  border-radius:5px;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  color: white;
  font-weight: 600;
}
@media  screen and (max-width:500px){
  .btn-type-1{
    background-color:white;
    color:black;
    border:1px solid lightgray;
    border-radius:5px;
  }
  nav a{
    color:black;
    text-decoration:none;
  }
}
.btn-type-1:hover{
  transform:translateY(-2px);
  transition:transform 0.3s;
  cursor:pointer;
  border-color:white;
}
.btn-type-2:hover{
  transform:translateY(-2px);
  transition:transform 0.3s;
  cursor:pointer;
  background-color:#0056b3;
}
.btn-type-2:hover .header-text h2{
  transform:translateY(3px);
  transition:translate 0.3s;
}
.btn-type-2 {
  background-color:#3483de;
  border-radius:5px;
  color: white;
  padding: 7px 20px;
  border: none;
  margin-left:10px;
}
.btn-type-3 {
  color: white;
  border:none;
  border-radius:50px;
  background-color:#31639c;
  padding:6px 17px;
  font-size:10px;
}
.link-styling{
  text-decoration:none;
  color:#3483de;
}
.pricing p {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.pricing {
  border-bottom: 1px solid lightgray;
}
.features {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.box {
  border: 1px solid lightgrey;
  text-align: center;
  margin: 10px;
}
.box-3-float button{
 float:right;
}
.box h3,.box p{
  padding:4px 0;
}
@media  screen and (max-width:500px){
 .features{
   flex-direction:column;
   width:100%;
 }
 .pricing{
   width:100%;
 }
 .pricing p{
   width:100%;
 }
 .box{
   margin:10px 0;
 }
}

.tagline-2 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.tagline-2 h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.tagline-2 p {
  font-size: 20px;
}
.features-2 {
  display: flex;
  justify-content:space-evenly;
  width:100%;
}
.features-2 .box {
  width: 35%;
}
.features-2 i {
  font-size: 50px;
}
.features-2 .box{
 display:flex;
}
.features-2-icon,
.features-2-text {
  padding:10px;
}
.features-2-icon{
  width:30%;
}
.features-2-text{
  width:70%;
  text-align:left;
  padding:20px 0;
}
.features-2-icon i{
  padding-top:30px;
}
.features-3 p{
  padding:20px 0;
  text-align:justify;
}
.features-3 i{
  color:white;
  padding:0 20px;
}
.video {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.video h4,
.video p {
  padding: 30px 0;
}
.video h4 {
  font-size:32px;
}
.building-site-ease {
  background-color: #fafafa;
}
.tagline-3{
  font-size:37px;
  text-align:center;
  background-color: #3483de;
  color:white;
}
.tagline-3:hover{
  cursor:pointer;
  text-decoration:underline;
}
@media  screen and (max-width:500px){
.subscribe{
  flex-direction:column;
  width:100%;
}
iframe{
  width:100%;
}
.features-2{
  flex-direction:column;
}
.features-2 .box{
  width:100%;
}
.tagline-3{
  font-size:24px;
}
.tagline-2{
  width:100%;
}
.video{
  width:100vw;
}
body{
  min-width:100%;
}
}
.features-3{
  color:white;
  background-color:#202020;
  line-height:28px;
  font-size:16px;
  flex-wrap:wrap;
}
.small-box{
  width:255px;
  display:flex;
  flex-wrap:wrap;
}
.small-box img:hover{
  opacity:0.8;
  cursor:pointer;
}
.subscribe{
  width:90%;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}
.subscribe div{
  margin:10px 15px;
}
input[type="email"]{
 padding:10px 7px;
 margin-bottom:10px;
 border-radius:5px;
 border:none;
}
input[type="submit"]{
  width:100%;
  border-radius:7px;
  margin-left:0;
  padding:7px;
}
footer{
  display:flex;
  align-items: baseline;
  justify-content:space-around;
  background-color:#101010;
  color:gray;
}
.icons i{
    padding:0 10px;
    color:white;
}
.icons i:hover{
  cursor:pointer;
}
@media screen and (max-width:500px){
  footer{
    flex-direction:column;
  }
  input[type="email"]{
    width:100%;
  }
  footer .icons{
    padding:12px 0;
  }
}